---
profile: ambient

tolerations:
  - operator: Exists

cniBinDir: /opt/cni/bin
cniConfDir: /etc/cni/net.d
cniConfFileName: 10-aws.conflist

repair:
  enabled: true

readinessProbe:
  initialDelaySeconds: 30
  periodSeconds: 15
  timeoutSeconds: 10
  failureThreshold: 30

{% if tools_cluster.platform == "openshift" %}
global:
  platform: openshift
{% endif %}
